body {
    background-image: url(../images/pattern8.png);
}

.parent {
    margin-top: 50px;

    color: white;
    font-size: 32px;
}

.top {
    height: 76px;
    background-color: rgb(45, 126, 233);
}
.mid {
    margin-left: 5px;
    height: 500px;
    background-color: rgb(74, 71, 69);
}

.bottom {
    background: url(../images/bottom-bg-patern.png);
    margin-left: 5px;
    padding-top: 10px;
    height: fit-content;
    color: white;
}

p {
    float: right;
    font-family: "Courier New", Courier, monospace;
    padding-top: 15px;
    color: white;
    font-size: 1.3rem;
}

.container {
    border: 0px;
}

.left {
    width: 100%;
    border-right: 1px solid #4a4745;
}

.right {
    width: 100%;
    border-left: 1px solid rgb(45, 126, 233);
}

img {
    width: 180px;
    height: 180px;
    position: relative;
    top: -20%;
    border: 2px solid rgb(45, 126, 233);
    border-radius: 5px;
}
#img {
    margin-left: 13%;
    margin-right: 13%;

    width: fit-content;
    height: fit-content;
}

textarea {
    background: rgb(116, 111, 108);
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
    outline: none;
}

textarea::placeholder {
    color: cornsilk;
    font-size: 1rem;
}

#social {
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(45, 126, 233);
    color: white;
    font-family: "Dosis", sans-serif;
    width: fit-content;
}
p.intro {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 10px;
    float: left;
    font-size: 1.4rem;
    font-family: inherit;
    color: white;
    border-radius: 5px;
    background-color: rgb(42, 41, 46);
    user-select: none;
}
span {
    color: lightskyblue;
}

a {
    color: gray;
}
a:hover {
    color: white;
    text-decoration: none;
}

.links {
    font-size: 1.5rem;
}

#navbar {
    margin-right: 15%;
    padding: 10px;
    float: right;
}

.navbar {
    background-color: rgb(42, 41, 46);
    border-radius: 1000px;
}

i {
    cursor: pointer;
    font-size: 1.3rem;
}
.pre {
    color: grey;
    font-family: monospace;
    padding: 10px;
    margin-top:20px; 
}
.pre:hover {
    color: white;
}

b.icons {
    border-radius: 3px;
    padding: 3px;
    background: rgb(116, 111, 108);
    color: white;
    font-family: monospace;
}

@media only screen and (max-width: 1200px) {
    #img {
        margin-left: 5%;
        margin-right: 5%;
    }

    textarea {
        width: 200px;
        overflow: auto;
    }
}

@media only screen and (max-width: 990px) {
    img {
        width: 150px;
        height: 150px;
    }

    #intro {
        margin-left: -15px;
        max-width: 440px;
    }
    .right{
        width: 900px;
    }
}

@media only screen and (max-width: 767px) {
    .left,
    .right {
        border: 0px;
    }
    .mid {
        height: fit-content;
    }
    #navbar {
        margin-left: 2%;

        float: left;
    }
    p {
        float: left;
        margin-right: -10px;
        padding-top: 10px;
        font-size: 1rem;
    }
    textarea {
        width: fit-content;
    }
}

@media only screen and (max-width: 575px) {
    #outermost {
        margin-left: 10px;
        margin-right: 30px;
    }

    p.intro {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.2rem;
    }

    #navbar {
        margin: 2%;
        padding: 5px;
        float: left;
    }

    .pre {
        font-size: 10px;
    }
    textarea {
        width: 200px;
        font-size: 1rem;
    }
}
